@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  max-width: 100vw;
  padding: 15vh 20vw;
}
.products-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.product {
  overflow: hidden;
  background-color: #ffffff;
  min-height: 40vh;
  min-width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.box:hover{
    transform: scale(1.03);
}
.box {
  height: 70vh;
  width: 30vw;
  background-color: #dab88d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 5px;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  z-index: 1;
}
.product-name{
    font-family: 'Story Script';
    text-transform: uppercase;
    font-size: 2rem;
}
.product-price{
    font-family: 'Montserrat';
    font-size: 1.5rem;
}
img {
  max-width: 25vw;
  border-radius: 50%;
}
.footer{
    background-color: #090b27;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    color: ghostwhite;
    text-transform: uppercase;
    font-family: 'Montserrat';
}
.container p{
    margin: 5px;
}
.company{
    font-weight: bold;
}
.container a{
    color: ghostwhite;
    font-size: 0.8rem;
}
.title-homepage .first-title{
    color: #191e63;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    margin: 10px;
    text-align: center;
}

@media (max-width: 768px){
  
  .products-container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .box{
    width: 90vw;
    height: 40vh;
    text-align: center;
  }
  .box .product-name{
    font-size: 1.9rem;
  }
  .product{
    width: 100%;
  }
  .main .title-homepage .first-title{
    font-size: 2rem;
  }
  .footer .container p{
    font-size: 0.8rem;
    margin: 7px;
  }
  .footer .container a{
    font-size: 0.6rem;
  }
}